<script src="https://checkout.stripe.com/checkout.js"></script>
<%= form_for :charge, method: :post, url: charges_path, html: { id: "stripe-form" } do |f| %>
  <h5>
    How much?
  </h5>
  <p class="range-field">
    <input type="range" id="stripe-amount" name="charge[amount]" min="1" max="10000" />
  </p>
  <h5>
    Why?
  </h5>
  <%= f.text_field :why %>
  <%= f.hidden_field :token, :id => "stripe-token", :class => 'stripe-token' %>
  <%= f.submit "submit", id: "stripe-submit" %>
<% end %>

<%= submit_tag "PAYGU (YOU WILL SEE WHY)", id: "stripe-button", class: "btn-large" %>
